<a href="https://colab.research.google.com/github/Anusha0368/GROCERY-STORE-MANAGEMENT-SYSTEM-USING-PHP-AND-MYSQL-PHPMYADMIN-/blob/master/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
for num in range(1,11):
  print(num*5)

5
10
15
20
25
30
35
40
45
50

In [7]:
for i in range(9,55):
    print(i*5)

45
50
55
60
65
70
75
80
85
90
95
100
105
110
115
120
125
130
135
140
145
150
155
160
165
170
175
180
185
190
195
200
205
210
215
220
225
230
235
240
245
250
255
260
265
270

In [14]:
import math as b
a = 144
print(b.sqrt(a))

12.0

In [15]:
a = 78
b = 34
print(a+b)
print(a-b)
print(a*b)
print(a**b)
print(a/b)
print(a//b)
print(a%b)

112
44
2652
21439590770449208305284699158510181055632719329050067907163193344
2.2941176470588234
2
10

In [16]:
a = 18
b = 20
print(a+b)
print(a-b)
print(a*b)
print(a**b)
print(a/b)
print(a//b)
print(a%b)

38
-2
360
12748236216396078174437376
0.9
0
18

In [ ]:
a = 68766896
b = 5478686868
print(a+b)
print(a-b)
print(a*b)
print(a**b)
print(a/b)
print(a//b)
print(a%b)

In [ ]:
a = 6
b = 9
print(a+b)
print(a-b)
print(a*b)
print(a**b)
print(a/b)
print(a//b)
print(a%b)

In [ ]:
a = 144
b = 121
print(a+b)
print(a-b)
print(a*b)
print(a**b)
print(a/b)
print(a//b)
print(a%b)